apiVersion: logging.kubesphere.io/v1alpha2
kind: FluentBit
metadata:
  name: fluent-bit
  labels:
    app.kubernetes.io/name: fluent-bit
    app.kubernetes.io/version: v1.4.6
spec:
  image: vasth/fluent-bit
  positionDB:
    emptyDir: {}
  fluentBitConfigName: fluent-bit-config
  tolerations:
    - operator: Exists
