# permissions to do viewer filters.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: filter-viewer-role
rules:
- apiGroups:
  - logging.kubesphere.io
  resources:
  - filters
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - logging.kubesphere.io
  resources:
  - filters/status
  verbs:
  - get
