# permissions for end users to edit inputs.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: input-editor-role
rules:
- apiGroups:
  - fluentbit.fluent.io
  resources:
  - inputs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - fluentbit.fluent.io
  resources:
  - inputs/status
  verbs:
  - get
