{{- if .Values.Kubernetes -}}
{{- if .Values.fluentd.enable -}}
{{- if .Values.fluentd.output.kafka.enable -}}
apiVersion: fluentd.fluent.io/v1alpha1
kind: ClusterOutput
metadata:
  name: fluentd-output-kafka
  labels:
    output.fluentd.fluent.io/enabled: "true"
spec:
  outputs:
    - kafka:
        brokers: {{.Values.fluentd.output.kafka.brokers }}
        useEventTime: true
        topicKey: {{.Values.fluentd.output.kafka.topicKey }}
      {{- if .Values.fluentd.output.kafka.buffer }}
      buffer:
        type: {{ .Values.fluentd.output.kafka.buffer.type }}
        path: {{ .Values.fluentd.output.kafka.buffer.path }}
      {{- end }}
{{- end }}
{{- end }}
{{- end }}
