{{- if .Values.operator.enable }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/name: fluent-operator
  name: fluent-operator
rules:
  - apiGroups:
      - apps
    resources:
      - daemonsets
      - statefulsets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - secrets
      - configmaps
      - serviceaccounts
      - configmaps
      - services
      - namespaces
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - fluentbit.fluent.io
    resources:
      - collectors
      - fluentbits
      - fluentbits/finalizers
      - clusterfluentbitconfigs
      - clusterfluentbitconfigs/finalizers
      - clusterfilters
      - clusterfilters/finalizers
      - clusterinputs
      - clusterinputs/finalizers
      - clusteroutputs
      - clusteroutputs/finalizers
      - clusterparsers
      - clusterparsers/finalizers
      - fluentbitconfigs
      - fluentbitconfigs/finalizers
      - multilineparsers
      - multilineparsers/finalizers
      - clustermultilineparsers
      - clustermultilineparsers/finalizers
      - filters
      - outputs
      - parsers
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - fluentd.fluent.io
    resources:
      - fluentds
      - fluentds/status
      - clusterfluentdconfigs
      - clusterfluentdconfigs/status
      - fluentdconfigs
      - fluentdconfigs/status
      - clusterfilters
      - filters
      - clusteroutputs
      - outputs
      - inputs
      - clusterinputs
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - clusterrolebindings
    verbs:
      - create
      - list
      - get
      - watch
      - patch
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - clusterroles
    verbs:
      - create
      - list
      - get
      - watch
      - patch
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - rolebindings
    verbs:
      - create
      - list
      - get
      - watch
      - patch
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - roles
    verbs:
      - create
      - list
      - get
      - watch
      - patch
{{- end }}