{{- if .Values.Kubernetes -}}
{{- if .Values.fluentbit.enable -}}
{{- if .Values.fluentbit.input.tail.enable -}}
apiVersion: fluentbit.fluent.io/v1alpha2
kind: ClusterInput
metadata:
  name: tail
  labels:
    fluentbit.fluent.io/enabled: "true"
    fluentbit.fluent.io/component: logging
spec:
  tail:
    tag: kube.*
    path: {{ .Values.fluentbit.input.tail.path }}
    readFromHead: {{ .Values.fluentbit.input.tail.readFromHead }}
    {{- if eq .Values.containerRuntime "docker" }}
    parser: docker
    {{- else if eq .Values.containerRuntime "containerd" }}
    parser: cri
    {{- else if eq .Values.containerRuntime "crio" }}
    parser: cri
    {{- end }}
    {{- if .Values.fluentbit.input.tail.multilineParser }}
    multilineParser: {{ .Values.fluentbit.input.tail.multilineParser | quote }}
    {{- end }}
    refreshIntervalSeconds: {{ .Values.fluentbit.input.tail.refreshIntervalSeconds }}
    memBufLimit: {{ .Values.fluentbit.input.tail.memBufLimit }}
    {{- if .Values.fluentbit.input.tail.bufferMaxSize }}
    bufferMaxSize: {{ .Values.fluentbit.input.tail.bufferMaxSize }}
    {{- end }}
    skipLongLines: {{ .Values.fluentbit.input.tail.skipLongLines }}
    db: /fluent-bit/tail/pos.db
    dbSync: Normal
    storageType: {{ .Values.fluentbit.input.tail.storageType }}
    {{- if eq .Values.fluentbit.input.tail.storageType "filesystem" }}
    pauseOnChunksOverlimit: {{ .Values.fluentbit.input.tail.pauseOnChunksOverlimit | quote }}
    {{- end }}
{{- end }}
{{- end }}
{{- end }}
