{{- if .Values.operator.enable }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fluent-operator
  namespace: {{ .Release.Namespace | quote }}
  labels:
    app.kubernetes.io/component: operator
    app.kubernetes.io/name: fluent-operator
  annotations:
    {{- toYaml .Values.operator.annotations | nindent 4 }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/component: operator
      app.kubernetes.io/name: fluent-operator
  template:
    metadata:
      labels:
        app.kubernetes.io/component: operator
        app.kubernetes.io/name: fluent-operator
        {{- with .Values.operator.labels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.operator.annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      volumes:
      - name: env
        configMap:
          name: fluent-operator-env
      containers:
      - name: fluent-operator
        image: {{ template "fluent-operator.image" (tuple .Values.operator.image $.Chart.AppVersion) }}
        {{- if .Values.operator.securityContext }}
        securityContext:
          {{- toYaml .Values.operator.securityContext | nindent 10 }}
        {{- end }}
        resources:
          {{- toYaml .Values.operator.resources | nindent 10 }}
        env:
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: metadata.namespace
          - name: CONTAINER_LOG_PATH
            value: {{ include "fluent-operator.containerLogPath" . | quote }}
        args:
          {{- with .Values.operator.extraArgs }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- with .Values.operator.disableComponentControllers }}
          - --disable-component-controllers={{ . }}
          {{- end }}
        volumeMounts:
        - name: env
          mountPath: /fluent-operator
        ports:
          - containerPort: {{ .Values.operator.service.port }}
            name: {{ .Values.operator.service.portName }}
      serviceAccountName: fluent-operator
      {{- with .Values.operator.priorityClassName }}
      priorityClassName: {{ . | quote }}
      {{- end }}
      {{- with .Values.operator.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
