apiVersion: fluentbit.fluent.io/v1alpha2
kind: FluentBit
metadata:
  name: fluent-bit
  labels:
    app.kubernetes.io/name: fluent-bit
spec:
  # renovate: datasource=docker depName=ghcr.io/fluent/fluent-operator/fluent-bit
  image: ghcr.io/fluent/fluent-operator/fluent-bit:4.0.9
  positionDB:
    hostPath:
      path: /var/lib/fluent-bit/
  fluentBitConfigName: fluent-bit-config
  tolerations:
    - operator: Exists
