name: Building Fluent Bit image

on:
  push:
    branches:
      - 'master'
    tags:
      - 'v*'
    paths:
      - ".github/workflows/build-fb-image.yaml"
      - "cmd/fluent-watcher/fluentbit/**"
      - "cmd/fluent-watcher/hooks/**"
      - "pkg/filenotify/**"

env:
  FB_IMG: 'kubesphere/fluent-bit:v2.1.10'
  FB_IMG_DEBUG: 'kubesphere/fluent-bit:v2.1.10-debug'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    name: Build Image for Fluent Bit
    steps:
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.19

      - uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Image for Fluent Bit
        run: |
          make build-fb -e FB_IMG=${{ env.FB_IMG }}
          make build-fb-debug -e FB_IMG_DEBUG=${{ env.FB_IMG_DEBUG }}