name: Helm CI

on:
  pull_request:
    branches:
      - 'master'
      - 'release-*'
    paths:
      - ".github/workflows/helm-ci.yaml"
      - "charts/**"
      - "tests/**"
      - "Makefile"
      - "go.mod"
      - "go.sum"

env:
  KUBECTL_VERSION: v1.25.1
  HELM_VERSION: v3.17.2

jobs:
  helm-tests:
    name: helm e2e tests
    runs-on: ubuntu-22.04

    timeout-minutes: 30

    env:
      GO111MODULE: "on"

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: Setup kubectl
        uses: marcofranssen/setup-kubectl@205b3cddf47a8557f8302cc6643b0a9a0b95d559 # v2.0.0
        with:
          kubectlVersion: ${{ env.KUBECTL_VERSION }}

      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: ${{ env.HELM_VERSION }}

      - name: Install dependences
        run: make ginkgo kind

      - name: Run helm e2e tests
        run: make fluentd_helm-e2e
