name: Helm CI

on:
  pull_request:
    branches:
      - 'master'
      - 'release-*'
    paths:
      - ".github/workflows/helm-ci.yaml"
      - "charts/**"
      - "tests/**"
      - "Makefile"
      - "go.mod"
      - "go.sum"

env:
  KUBECTL_VERSION: v1.25.1
  HELM_VERSION: v3.17.2

jobs:
  helm-tests:
    name: helm e2e tests
    runs-on: ubuntu-22.04

    timeout-minutes: 30

    env:
      GO111MODULE: "on"

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: Setup kubectl
        uses: marcofranssen/setup-kubectl@8dd250ecabc2b05504337c1ff1ab4766f360742f # v2.1.0
        with:
          kubectlVersion: ${{ env.KUBECTL_VERSION }}

      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: ${{ env.HELM_VERSION }}

      - name: Install dependences
        run: make kind ginkgo setup-test-e2e

      - name: Run helm e2e tests
        run: make fluentd_helm-e2e
