name: Main CI WorkFlow

on:
  push:
    branches:
      - 'master'
      - 'release-*'
    tags:
      - 'v*'
    paths:
      - ".github/workflows/build-op-image.yaml"
      - "apis/**"
      - "cmd/**"
      - "controllers/**"
      - "hack/**"
      - "manifests/setup/setup.yaml"
      - "tests/**"
      - "pkg/**"
      - "Makefile"
      - "go.mod"
      - "go.sum"
  pull_request:
    branches:
      - 'master'
      - 'release-*'
    paths:
      - ".github/workflows/build-op-image.yaml"
      - "apis/**"
      - "cmd/**"
      - "controllers/**"
      - "hack/**"
      - "manifests/setup/setup.yaml"
      - "tests/**"
      - "pkg/**"
      - "Makefile"
      - "go.mod"
      - "go.sum"
jobs:
  basic_tests:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    name: Basic test and verify
    env:
      GO111MODULE: "on"
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.2.2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

      - name: Go mod
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          go mod download

      - name: Install kubebuilder
        run: |
          curl -L -o kubebuilder "https://github.com/kubernetes-sigs/kubebuilder/releases/download/v3.9.0/kubebuilder_linux_amd64"
          chmod +x kubebuilder && mv kubebuilder /usr/local/bin/

      - name: Run basic test
        run: make test

      - name: Run verify crds test
        run:  make verify

  e2e_tests:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    name: e2e tests
    env:
      GO111MODULE: "on"
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.2.2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

      - name: Install dependences
        run: |
          command -v ginkgo || go install github.com/onsi/ginkgo/ginkgo@latest
          go install sigs.k8s.io/kind@v0.17.0
          curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.25.1/bin/linux/amd64/kubectl && sudo install kubectl /usr/local/bin/kubectl

      - name: Run e2e tests
        run:  make e2e

  helm_tests:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    name: helm e2e tests
    env:
      GO111MODULE: "on"
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.2.2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

      - name: Install dependences
        run: |
          command -v ginkgo || go install github.com/onsi/ginkgo/ginkgo@latest
          go install sigs.k8s.io/kind@v0.17.0
          curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.25.1/bin/linux/amd64/kubectl && sudo install kubectl /usr/local/bin/kubectl

      - name: Install Helm
        uses: azure/setup-helm@b9e51907a09c216f16ebe8536097933489208112 # v4.3.0
        with:
          version: v3.6.3

      - name: Run helm e2e tests
        run: make helm-e2e

  build:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    name: Binary build
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.2.2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

      - name: Run build all binaries
        run: make binary

  # docker-build:
  #   runs-on: ubuntu-22.04
  #   timeout-minutes: 30
  #   name: Docker amd64 build
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
  #       with:
  #         fetch-depth: 0

  #     - name: Install Go
  #       uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
  #       with:
  #         go-version-file: go.mod
  #         cache-dependency-path: go.sum

  #     - uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.2.2
  #       with:
  #         path: ~/go/pkg/mod
  #         key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

  #     - name: Run docker build
  #       run: make build-amd64
