name: Main CI WorkFlow

on:
  push:
    branches:
      - 'master'
      - 'release-*'
    tags:
      - 'v*'
    paths:
      - ".github/workflows/main.yaml"
      - ".github/workflows/build-op-image.yaml"
      - "apis/**"
      - "cmd/**"
      - "controllers/**"
      - "hack/**"
      - "manifests/setup/setup.yaml"
      - "tests/**"
      - "pkg/**"
      - "**/*.sh"
      - "Makefile"
      - "go.mod"
      - "go.sum"
  pull_request:
    branches:
      - 'master'
      - 'release-*'
    paths:
      - ".github/workflows/main.yaml"
      - ".github/workflows/build-op-image.yaml"
      - "apis/**"
      - "cmd/**"
      - "controllers/**"
      - "hack/**"
      - "manifests/setup/setup.yaml"
      - "tests/**"
      - "pkg/**"
      - "**/*.sh"
      - "Makefile"
      - "go.mod"
      - "go.sum"

env:
  KUBECTL_VERSION: v1.25.1
  HELM_VERSION: v3.17.2

jobs:
  basic_tests:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    name: Basic test and verify
    env:
      GO111MODULE: "on"
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: Ensure all generated code is committed
        run: |
          make generate manifests docs-update
          git diff --exit-code

      - name: Check shell scripts
        run: make shellcheck

      - name: Go mod
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          go mod download

      - name: Install kubebuilder
        run: |
          curl -L -o kubebuilder "https://github.com/kubernetes-sigs/kubebuilder/releases/download/v3.9.0/kubebuilder_linux_amd64"
          chmod +x kubebuilder && mv kubebuilder /usr/local/bin/

      - name: Run basic test
        run: make test

      - name: Run verify crds test
        run:  make verify

  e2e_tests:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    name: e2e tests
    env:
      GO111MODULE: "on"
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: Setup kubectl
        uses: marcofranssen/setup-kubectl@205b3cddf47a8557f8302cc6643b0a9a0b95d559 # v2.0.0
        with:
          kubectlVersion: ${{ env.KUBECTL_VERSION }}

      - name: Install dependences
        run: make ginkgo kind

      - name: Run e2e tests
        run:  make test-e2e

  build:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    name: Binary build
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: Run build all binaries
        run: make binary

  # docker-build:
  #   runs-on: ubuntu-22.04
  #   timeout-minutes: 30
  #   name: Docker amd64 build
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
  #       with:
  #         fetch-depth: 0

  #     - name: Install Go
  #       uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
  #       with:
  #         go-version-file: go.mod
  #         cache-dependency-path: go.sum

  #     - name: Run docker build
  #       run: make build-amd64
