name: Renovate
on:
  push:
    paths:
      - ".github/workflows/renovate.yaml"
      - ".github/renovate-config.js"
  schedule:
    - cron: "0 7 * * 5"
  workflow_dispatch:

env:
  ACTIONS_STEP_DEBUG: ${{ secrets.ACTIONS_STEP_DEBUG }}

jobs:
  renovate:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@5712c6a41dea6cdf32c72d92a763bd417e6606aa # v44.0.5
        with:
          configurationFile: ".github/renovate-config.js"
          token: "${{ secrets.GITHUB_TOKEN }}"
        env:
          LOG_LEVEL: ${{ env.ACTIONS_STEP_DEBUG == 'true' && 'debug' || 'info' }}
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_ALLOW_SCRIPTS: true
          RENOVATE_SEPARATE_MAJOR_MINOR: false
